/* # RESET ----------------------------------- */

    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        font-family: "Open Sans", sans-serif;
    }


/* # UTILS ----------------------------------- */

    .container {
        margin: 0 auto;
        padding: 0 10px;
        width: 1000px;
        max-width: 100%;
    }

    header ul,
    footer ul {
        list-style-type: none;

        display:flex;
        align-items: center;
        gap: 1rem;

    }

    header a,
    footer a {
        text-decoration: none;
        color: inherit;
    }


/* # HEADER ----------------------------------- */

    header {
        background-color: #ff6900;
        padding:20px;
        color: white;
        font-weight: bold;

        /* DEBUG */

    }

    header .container {
        display:flex;
        justify-content: space-between;
        align-items: center;
    }

    header .side {
        flex: 0 0 20%;
    }

    

    header .right {
        display:flex;
        justify-content: end;
        align-items: center;
    }

    header .center {
        flex: 0 0 20%;
        height: 25px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    header img {
        height: 100%;
    }


/* # PRODUCTS SECTION ----------------------------------- */

    .products-container {
        padding: 40px 0;
        
        /* DEBUG */
        /* background-color:pink; */
    }

    .products-container > .container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        /* DEBUG */
        /* background-color:greenyellow; */
    }

    .card {
        flex: 1 0 30%;
        
        /* DEBUG */
        /* background-color: red;
        border: 1px solid black; */
    }


/* # CARD IMG ----------------------------------- */

    .card > .img {
        position: relative;
    }

    .product_pic {
        width: 100%;
        display:block;
    }

    /* CORREZIONE !!!
    Un errore di visualizzazione in cui viene mostrata una barra vuota sotto l'immagine prima dell'effetto hover si verificava finchè non è stato aggiunto "display:block", quindi puro errore di visualizzazione che anche con l'inspector non dava indizi su cosa fosse. */


    /* HOVER */
    .card:hover .product_pic {
        display:none;
    }

    .product_pic_hover {
        width: 100%;
        display:none;
    }

    .card:hover .product_pic_hover {
        display:block;
    }

    .favorite {
        position: absolute;
        top: 15px;
        right: 0;
        background-color: white;
        padding: 15px;
    }

    /* HOVER */
    .favorite:hover {
        color:red;
    }

    .heart {
        width:100%;
        font-size: 2rem;
        line-height: 1.1rem;

        /* CORREZIONE !!!
        Fondamentale non dare le dimensioni in questo modo, ma assegnare Height fissa, Width fissa, e Line-Height fissa, e poi giocare col font-size del carattere contenuto. La formula scritta sopra è ERRATA e può portare a una serie di problemi. */
    }

    .discount-tag {
        position: absolute;
        top: 85%;
        left: 0;
        display: flex;
        gap:5px;

    }

    .discount-tag > p {
        color:white;
        font-weight: bold;
        padding: 5px 10px;
        text-align: center;
    }

    .price-discount {
        text-align: center;
        background-color: red;
    }

    .sostenibile {
        background-color: rgb(0, 138, 46);
    }


/* # CARD DESCRIPTION ----------------------------------- */

    .card .description {
        background-color: white;
    }

    .product_brand {
        font-size: 0.8rem;
    }

    .product_name {
        font-size: 1.2rem;
        font-weight: bold;
        line-height: 1rem;
    }

    .product_price {
        display: flex;
        gap: 10px;
        font-size: .8rem;
    }

    .price_discounted {
        color: red;
        font-weight: bold;
    }

    .price_normal {
        text-decoration: line-through;
    }


/*  # FOOTER */

footer {
    background-color: #1a1a1a;
    height: 75px;
    color: white;

    display: flex;
    align-items: center;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .side a  {
    font-size: 0.7rem;
}


/* # DEBUG */

.debug {
    background-color: aqua;
    padding: 20px;
    height: 10px;
    border: 1px dashed black;
}